// Variáveis
$white: #ffffff;
$light-gray: #d7dde9;
$black: #000000;

.navbar {
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $black;
  height: 5em;
  padding: 0 3em;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 93%;
    height: 0.2vh;
    background: $light-gray;
    transform: translateX(-50%);
  }

  h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    text-align: center;
  }
}

.logo {
  margin-left: 0;
}


@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start; 
    padding: 1em;
    height: auto;

    h1 {
      position: static;
      transform: none;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 1.1em;
      margin-left: 0; 
    }

    .data {
      margin-top: 1em;
      margin-left: 0; 
    }

    &::after {
      width: 93%; 
    }
  }

  .logo {
    margin-left: 0; 
  }
}
